a, a:visited {text-decoration: none; color: #223399;}
A:hover	{text-decoration: underline; color: #ff5555;}

body{
	margin:				0px;
	border: solid 1px;
	margin-left: 0px;
	border-color: #999999;
	background-color:	#f0e8d8;
	font-size:			12px;
	font-family:		Arial,宋体,Arial,Sans-serif;
	line-height:		18px;
}

SELECT{
	font-size:12px;
}

TEXTAREA{
	font-size:12px;
	border: 1px solid #a0a0a0;
	background-color:transparent;
}
input 
{
	height :20px;
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #B76010;
	background-color: #FFFFFF;
}

.edbox{
	font-size:12px;
	border: 1px solid #a0a0a0;
	background-color:transparent;
}
.nbox
{
	border-right: #777777 1px solid;
	padding-right: 2px;
	border-top: #777777 1px solid;
	margin-top: 0px;
	padding-left: 10px;
	font-size: 12px;
	padding-bottom: 2px;
	border-left: #777777 1px solid;
	padding-top: 0px;
	border-bottom: #777777 1px solid;
	background-color: #f0f0e8;
}
.kbox
{
	padding-right: 2px;
	margin-top: 0px;
	padding-left: 10px;
	font-size: 12px;
	padding-bottom: 2px;
	padding-top: 0px;
	background-color: #f0f0e8;
}
.lbox
{
	border-right: #d8c8a8 1px solid;
	border-top: #d8c8a8 1px solid;
	font-size: 12px;
	border-left: #d8c8a8 1px solid;
	padding-top: 0px;
	border-bottom: #d8c8a8 1px solid;
	background-color: #f0f0e8;
}

.edline{
	font-size:12px;
	border: none;
	border-bottom: 1px solid #a0a0a0;
	background-color:transparent;
	
}

.ednone{
	font-size:12px;
	border: none;
	background-color:#d4e4d8;
}
.none{
	font-size:12px;
	border: none;
	background-color:transparent;
}

.edboxdisable{
	font-size:12px;
	border: 1px solid #aaaaaa;
	background-color:transparent;
	color: #555555;
}

.edlinedisable{
	font-size:12px;
	border: none;
	border-bottom: 1px solid #aaaaaa;
	background-color:transparent;
	color: #555555;
}

.ednonedisable{
	font-size:12px;
	border: none;
	background-color:transparent;
	color: #777777;
}

.selectOff{
	font-size:12px;
	cursor:default;
	border:none;
	border-bottom: 1px solid #aaaaaa;
	background-color:transparent;
	overflow:hidden;
}
.selectOn{
	position:absolute;
	visibility:hidden;
	z-index:1;
	cursor:default;
	font-size:12px;
	font-family:宋体,Helvetica,Arial,Sans-Serif;
	border: 1px solid;
	top:-1000px;
	left:-1000px;
	width:0;
	height:-1000;
	overflow:hidden;
	background-color:#f0f0f0;
}
.selectItem{
	font-size:12px;
	line-height:16px;
	width:100%;
}
.tdsmall {font-size: 12px; line-height:16px;padding-left:2px;padding-right:2px;}

.td {font-size: 12px;line-height:20px;padding-left:2px;padding-right:2px;}
.err
{
	padding-right: 2px;
	padding-left: 2px;
	font-size: 12px;
	color: red;
	line-height: 20px;
}

.white {font-size: 12px;color: #eeeeee}

.titlebar{
	font: bold 14px/20px;
	color: #eeeeee;
/*	background-image: url(/img/bluestrip.gif); 
	background-color: #253e82; */

	padding-top: 2px;
}

.boxtitle{
	font-size:			12px;
	color: #eeeeee;
	background-color: #486591;
	padding-bottom: 0px;
	text-align:	center;
	border: 1px solid #777777;; padding-left:1px; padding-right:1px; padding-top:1px
}

.box
{
	border-right: #777777 1px solid;
	padding-right: 2px;
	border-top: #777777 1px solid;
	margin-top: 0px;
	padding-left: 10px;
	font-size: 12px;
	padding-bottom: 2px;
	border-left: #777777 1px solid;
	padding-top: 0px;
	border-bottom: #777777 1px solid;
	background-color: #f0f0f0;
}
.boxform
{
	border-right: #777777 1px solid;
	border-top: #777777 1px solid;
	font-size: 12px;
	border-left: #777777 1px solid;
	border-bottom: #777777 1px solid;
	background-color: #f0f0f0;
}
.querybox{
	font-size:			12px;
	background-color: #f8f4e4;
	border: 1 solid;
	border-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-color: #486591;
	padding: 5px;
	padding-left:10px;
}

.rellink{
	font-size:			12px;
	background-color: #e0e0e0;
	border: 1px solid #486591;
	
}
.outbox{
	font-size:			12px;
	background-color: #FFFF85;
	border: 1px solid #000000;
	
}

.outTd{
	border: 1px solid;
	background-color: #CC9900;
	font-size: 14pt;
	color: #FFFFFF;
 	border-color: #FFFFFF #000000 #000000 #FFFFFF
}

.tt2line{
	color: #201000;
	font-size:			12px;
	border-top:	1px solid #a0a0a0;
	border-bottom:	1px solid #a0a0a0;
/*	font-weight: bold; */
	line-height:20px;
	padding-left: 3px;
	padding-right: 3px
}

.tt1line{
	color: #302010;
	font-size:			12px;
	border-bottom:	1px solid #a0a0a0;
	font-weight: bold;
	line-height:20px
}

.ttTable{
	color: #403020;
	font-size: 12px;
	font-weight: bold;
	line-height:20px;
}
.uname{
	color: white;
	font-size: 12px;
	font-weight: bold;
	line-height:20px;
}
.ttTable1{
	color: #403020;
	font-size: 12px;
	line-height:20px;
}

.button{
	font-size: 12px;
	padding-top: 1px;
}

.tabhead{
	color: white;
	line-height: 18px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
}

.popwin{
	position:absolute;
	visibility:hidden;
	z-index:10;
	width:300px;
	height:100px;
	border:1px solid black;
	background-color:#f0f0f0
}

.hidden{
	position:absolute;
	visibility:hidden;
}

.curstep{
	font-size:14px;
	font-weight:bold;
	color:darkblue;
	font-family:"黑体","宋体","Helvetica","Arial";
}
.tableline
{
	border-right: #999999 1px solid;
	padding-right: 2px;
	border-top: #999999 1px solid;
	padding-left: 2px;
	font-size: 12px;
	border-left: #999999 1px solid;
	line-height: 20px;
	border-bottom: #999999 1px solid;
	border-collapse: collapse;
	border-color :#999999;
}
.bsbttn
{
	border-right: #104a7b 1px solid;
	border-top: #afc4d5 1px solid;
	font-size: 10pt;
	background: #d6e7ef;
	border-left: #afc4d5 1px solid;
	cursor: hand;
	color: #000066;
	border-bottom: #104a7b 1px solid;
	font-family: 宋体,MS SONG,SimSun,tahoma,sans-serif;
	text-decoration: none;
}